.effect-one p {
    color: saddlebrown;
    font-family: Lucida Handwriting, Lucida, cursive;
    text-decoration: wavy;
    text-shadow: 2px 2px sandybrown;
    font-weight: bolder;
    font-size: xx-large;  
    text-align: center;  
}