/*------------------------------------------
Photo Overlay Transitions 
--------------------------------------------*/

.photo-overlay {
    opacity: 0; 
    transition: opacity .5s; 
    border-radius: lOpx; 
    cursor: pointer; 
} 

.photo-overlay:hover { 
    opacity: 1; 
}

.photo img {
    transition: transform .5s; 
    transform-origin: 50% 50%; 
} 

.photo:hover img { 
    transform: scale(1.1); 
} 